<div class="container-fluid-full">
  <div class="row-fluid">
    <div class="row-fluid">
      <div class="login-box">
        <div class="icons">
          <a href="#"><i class="halflings-icon home"></i></a>
          <a href="#"><i class="halflings-icon cog"></i></a>
        </div>
        <h2>Login to your account</h2>
        <div id="unauthenticated-view-container">
          <div id="sing-in-content" class="sing-in-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
