<!DOCTYPE html>
<html lang='en'>
<head>
  <%= stylesheet_link_tag :application, media: :all %>
  <%#= javascript_include_tag :application %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>Inventory</title>
</head>
<body class='cordova'>
  <div id="main">
    <div class="app container">
      <h1>Inventory</h1>
      <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
      </div>
    </div>
  </div>
</body>
</html>
