<td>{{ id }}</td>
<td class="center">{{ full_name }}</td>
<td class="center">{{ email }}</td>
<td class="center">
  <a class="btn btn-success" href="#">
    <i class="halflings-icon white zoom-in"></i>
  </a>
  <a class="btn btn-info" href="#">
    <i class="halflings-icon white edit"></i>
  </a>
  <a class="btn btn-danger" href="#">
    <i class="halflings-icon white trash"></i>
  </a>
</td>
